*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Montserrat, "Noto Sans";

}

#navbar{
	background-color: #370088;
	color: white;
	border-bottom: 2px solid white;
}

.navbar-brand{
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

.nav-link{
	color: white;
}

#nav-button{
	background-color: #370088;
	border: 2px solid white;
}

#navbar-toggler{
	border: 1px solid white;
}

#landing{

	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.9), /* top */
			rgba(0, 0, 0, 0.61)  /* bottom */
		),
		url("./images/landing_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#landing .fixed-btn{
    display: none !important;
 }

#landing-image{
	border: 2px solid white;
}

#landing #my-name{
	font-weight: 800;
	font-size: 3rem;
}

#landing #my-title{
	font-size: 1.5rem;
}

#button{
	  background-color: #370088;
	  border: 2px solid white;
	  color: white;	
	  cursor: pointer;
	  font-size: 1rem;
	  transition: 0.2s;
	}

	#landing-button:hover {
	  opacity: 0.8;
	  border: 0px;
	  background-color: white;
	  color: #370088;
	}
	
	#landing-button:active {
	  opacity: 0.4;
	  color: black;
	}

#projects{
	background-color: #4B4453;
	color: white;

}

.card-image{

	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.9), /* top */
			rgba(0, 0, 0, 0.61)  /* bottom */
		),
		url("./images/landing_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.limited-textarea {
	resize: vertical;
  max-height: 135px;     
  min-height: 100px;   
  
}

#card #card-button, #contact #contact-button{
	position:  absolute;
	bottom: 15px;
	  background-color: #370088;
	  border: 2px solid white;
	  color: white;	
	  cursor: pointer;
	  font-size: 1rem;
	  transition: 0.2s;
	}

	#landing-button:hover {
	  opacity: 0.8;
	  border: 0px;
	  background-color: white;
	  color: #370088;
	}
	
	#landing-button:active {
	  opacity: 0.4;
	  color: black;
	}

.fixed-btn{
	position:  fixed;
	right: 50px;
	bottom: 30px;
	background-color: #4B4453;
	color: white;
	z-index: 100;
}

#card{
	background-color: #B1A8B9;
	border: 2px solid white;
	color: #370088;
}

#card-title{
	font-weight: bold;
}

#tools{
	background-color: #370088;
	color: white;
	height: 100vh;
}

#tools-image{
  width: 200px;             /* or any size, or use responsive units */
  aspect-ratio: 1 / 1;      /* ensures square shape */
  overflow: hidden;         /* hides cropped parts */
}
#tools img{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* preserves aspect ratio, fills container (cropped) */
  object-position: center;  /* adjust focal point */
  display: block;   
}     

#contact{
	background-color: #4B4453;
	color: white;
	height: 100vh;
	margin-bottom: 32vh;
}

#footer{
	background-color: #370088;
	color: white;
}

#backToTop {
  position: fixed;
  background-color: #B1A8B9;
  border: 1px solid white;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  display: none;         /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}